.blogs-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.blogs-content h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

.blogs-list {
    list-style-type: none;
    padding: 0;
}

.blogs-list li {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eaeaea;
}

.blogs-list li:last-child {
    border-bottom: none;
}

.blog-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.blogs-list h2 {
    font-size: 18px;
    margin: 0 0 5px 0;
}

.blogs-list h2 a {
    text-decoration: none;
    color: #333;
}

.blogs-list h2 a:hover {
    text-decoration: underline;
}

.blog-date {
    color: #999;
    font-size: 14px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-left, .footer-right {
    flex: 1;
    min-width: 300px;
}

.footer-right {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column-reverse;
    }
    
    .footer-left, .footer-right {
        width: 100%;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .footer-left {
        order: 2;
        text-align: center;
    }

    .footer-right {
        order: 1;
        justify-content: center;
        margin-bottom: 1rem;
    }
}