/* General Styles */
:root {
    --primary-color: #000; /* Black as primary color */
    --secondary-color: #2E8B57; /* Nature's green as secondary color */
    --footer-bg-color: #333; /* Dark gray for footer background */
    --contact-box-bg-color: #444; /* Darker gray for contact box background */
}

body {
    background-color: var(--primary-color);
    color: #fff;
    transition: all .3s ease;
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.container-fluid {
    width: 100%; /* Ensure it takes the full width */
    display: flex;
    justify-content: space-between; /* This will help push the nav items to the right */
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto; /* Keeps items to the right */
    margin-right: 150px; /* Adds more padding on the right and moves items slightly to the left */
    margin-top: 20px;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.nav-logo {
    height: 50px; /* Increased size from 40px to 50px */
    margin-right: 20px; /* Add space between logo and links */
    margin-top: 10px;
}

@media (min-width: 1000px) {
    .navbar-nav {
        margin-left: auto; /* Push the nav items to the right on large screens */
    }
}

.nav-link:hover {
    text-decoration: underline; /* Underline on hover */
}

.hero {
    height: 100vh;
    padding-left: 20%; /* Reduced from 30% to move text to the left */
    padding-right: 10px;
    max-width: 1500px;
    margin: auto;
}

.hero-sub-text {
    font-size: 48px; /* Set the font size for the sub-text */
    color: #fff; /* Set the color of the text */
    margin-bottom: auto; /* Reduced space between the sub-text and the main hero text */
}

.hero-text {
    font-size: 160px;
    margin: 320px 0; /* Increased top margin to center vertically */
    max-width: 1500px;
}

section {
    padding: 10px 10px;
    padding-left: 20%; /* Reduced from 30% to align with the hero text */
    padding-right: 10px;
    max-width: 1500px;
    margin: 0 auto;
}

.email-button, .blog-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.email-button:hover, .blog-button:hover {
    background-color: #1e6b47;
}

footer {
    background-color: var(--footer-bg-color);
    color: #fff;
    padding: 20px;
    padding-left: 20%; /* Adjusted to match other sections */
    padding-right: 10px;
    max-width: 1500px; /* Limit the width of the footer */
    margin: 0 auto; /* Center the footer */
    display: flex; /* Ensure footer contents are in a row */
    justify-content: space-between; /* Space out the left and right sections */
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; /* Increase padding around the container */
    gap: 40px; /* Increase gap between .footer-left and .footer-right */
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-right {
    display: flex;
    flex-direction: row; /* Ensure the WORK and LINKS sections are in a row */
    gap: 20px; /* Space between WORK and LINKS sections */
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-column h3 {
    margin-bottom: 10px;
}

.footer-column p, .footer-column a {
    margin: 5px 0;
    color: #fff;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

.contact-link {
    font-size: 130px; /* Font size for the contact link */
    color: #fff; /* Keep the text color white */
    text-decoration: underline; /* Add underline to the text */
    font-weight: bold; /* Make the text bold */
}

.contact-link:hover {
    text-decoration: underline; /* Keep the underline on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.social-icons img {
    width: 24px;  /* Set the width of the icons */
    height: 24px;  /* Set the height of the icons */
}

.signature {
    width: 100px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}
